AI_OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxx

MAIL_USERNAME=username
MAIL_PASSWORD=mail_password
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

DB_URL=jdbc:mysql://localhost:3307/abms
DB_USERNAME=myuser
DB_PASSWORD=secret
