spring:
  application:
    name: abms
  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
  docker:
    compose:
      lifecycle-management: start_only
  threads:
    virtual:
      enabled: true

  ai:
    openai:
      api-key: ${AI_OPENAI_API_KEY}
  config:
    import: optional:file:.env[.properties]

logging:
  level:
    p6spy: debug
