spring:
  application:
    name: abms
  profiles:
    default: local
  jpa:
    open-in-view: false
  threads:
    virtual:
      enabled: true
  ai:
    openai:
      chat:
        options:
          model: gpt-4o-mini
